<div class="modal {{active?'active':''}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">
                    <h4 class="modal-title">
                        <span class="fa fa-{{data.icon}}"></span>
                        <span class="padding-left-10">{{data.title}}</span>
                    </h4>    
                </div>
                <div class="mb-3 text-center"  ng-bind-html="data.content"></div>
                <div class="mb-3 text-end">
                    <button type="button" class="btn btn-secondary" ng-click="close()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="save()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
